.toolbar
{
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em;
}

.laroma-1
{
    background-color: #f4f2f3;
}
.laroma-2
{
    background-color: #c0a9bd;
}
.laroma-3
{
    background-color: #94a7ae;
}
.laroma-4
{
    background-color: #64766a;
}